* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #110b46;
  position: relative;
}

.main-header {
  background: #110b46;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 600px;
}

.info {
  color: #adb5bd;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  max-width: 650px;
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #adb5bd;
  max-width: 600px;
}

.logo {
  font-weight: 600;
  font-size: 1em;
  color: #fff;
}

.logo-container {
  background-color: #f76707;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
}

.main-nav .nav-item {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.main-nav .nav-item:hover {
  border-bottom: 2px solid #333;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 60px);
}

.general-info {
  flex-basis: 40%;
  padding: 20px;
}

.question-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 50%;
  max-width: 600px;
  margin: 20px;
  height: 300px;
  flex-basis: 40%;
  text-align: center;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-title {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #110b46;
}

.response-form {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.response-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
  color: #110b46;
  background-color: #f76707;
}

.response-btn:hover {
  background-color: #ff922b;
}

@media (max-width: 768px) {
  .question-card {
    width: 80%;
    padding: 20px;
  }

  .question-title {
    font-size: 1.5em;
  }

  .header {
    flex-direction: column;
  }

  .main-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }

  .main-content {
    flex-direction: column;
  }

  .general-info .question-card {
    flex-basis: 100%;
    width: 100%;
    padding: 20px;
  }
}
